.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tables {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 87%;;
}

.favourited {
  font-size: 20px;
  vertical-align: top;
  background: none;
  border: none;
  outline: none;
  color:#53B07C;
}
.unfavourited {
  font-size: 20px;
  vertical-align: top;
  background: none;
  border: none;
  outline: none;
  color:rgb(146, 146, 146);
}
#header{
  margin-top: 0px;
  padding-top: 25px;
  color: white;
  height: 80px;
  background-image: linear-gradient(to right, #1c5b92, #006e9b, #007e94, #008c7e, #209660);
}
#favHeader {
  text-align: left;
  width: 87%;
  font-weight: 20px;
  margin-left: auto;
  margin-right: auto;
  background: -webkit-linear-gradient(#1F826E, #269460);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#searchBar {
  width:80%;
  font-size: 25px;
  color: rgb(54, 54, 54);
}
#clearButton {
  font-size: 25px;
  background: none;
  border: none;
  outline: none;
  color: grey;
  display: inline-block;
  margin-left: -35px;
  vertical-align: sub;
}
#searchButton {
  font-size: 20px;
  color: white;
  border: none;
  outline: none;
  padding-top: 7px;
  padding-bottom: 3px;
  width: 40px;;
  margin-left: 10px;
  vertical-align: top;
  background-image: linear-gradient(to right, #53b07c, #48a975, #3ca36e, #309c67, #209660);
}
.button:hover {
  transition: transform .2s; /* Animation */
  transform: scale(1.1);
}